name: on-pr-main-day6

on:
  pull_request:
    branches:
      - main
    paths:
      - 'infra/**'  # Triggers only when terraform files change
      - 'src/**'    # Triggers when application code changes

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: us-east-2     # Updated to Ohio
      TERRAFORM_VER: 1.14.3    # Updated to your local version
      TERRAFORM_PATH: infra     # Updated to your actual folder name

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VER }}

      - name: Terraform Check (Format)
        working-directory: ${{ env.TERRAFORM_PATH }}
        run: terraform fmt --check

      - name: Terraform Init
        working-directory: ${{ env.TERRAFORM_PATH }}
        run: terraform init

      - name: Terraform Plan
        working-directory: ${{ env.TERRAFORM_PATH }}
        run: terraform plan
